@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: "Libre Franklin";
    src: url("/fonts/LibreFranklin-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "Microgramma";
    font-weight: 400;
    src: url("/fonts/Microgramma D Extended Medium.otf");
  }
  @font-face {
    font-family: "Microgramma";
    font-weight: 700;
    src: url("/fonts/Microgramma D Extended Bold.otf");
  }
} */

/* @layer base {
  @font-face {
    font-family: "MicrogrammaMediumExtended(D)";
    src:
      url("fonts/MicrogrammaMediumExtendedD/font.woff2") format("woff2"),
      url("fonts/MicrogrammaMediumExtendedD/font.woff") format("woff");
  }
  @font-face {
    font-family: "MicrogrammaBoldExtended(D)";
    src:
      url("fonts/MicrogrammaBoldExtendedD/font.woff2") format("woff2"),
      url("fonts/MicrogrammaBoldExtendedD/font.woff") format("woff");
  }
} */

/* Hide the message by default */
.rotate-device-message {
  display: none;
}

@media screen and (max-width: 308px) and (orientation: landscape) {
  body > *:not(.rotate-device-message) {
    display: none !important;
  }
  .rotate-device-message {
    display: flex !important;
  }
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 9;
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 3px solid #000000;
  border-right: 3px solid #000000;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden;
}

.css-selector {
  background: linear-gradient(270deg, #33ff00, #ff6e00);
  background-size: 400% 400%;

  -webkit-animation: ARGradient 13s ease infinite;
  -moz-animation: ARGradient 13s ease infinite;
  -o-animation: ARGradient 13s ease infinite;
  animation: ARGradient 13s ease infinite;
}

.gradient-line {
  background: linear-gradient(to right, transparent, black, transparent);
}

@keyframes ARGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
